.logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.navbar {
  font-weight: 500;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.8rem 1rem;
  background-color: aqua;
}
